.reportContainer {
  padding: 20px;
  max-width: 1280px;
  background-color: white;
  min-height: 90vh;
  margin: 0 auto;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  padding-top: 6rem;

  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
    color: var(--col2);
    text-transform: uppercase;
    font-weight: 600;
  }

  .downloadPdf {
    background-color: rgb(253, 95, 67);
    color: white;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
    border: none;
    text-decoration: none;

    &:hover {
      background-color: rgb(251, 74, 43);
      scale: 1.02;
    }
    i {
      margin-right: 3px;
      font-size: 1.5rem;
    }
  }

  .badgeGreen {
    color: #03c113;
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: 700;
    float: right;
  }

  .badgeRed {
    color: #ff4d4f;
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: 700;
    float: right;
  }
  .editBtn {
    background-color: #039c38;
    color: white;
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
    float: right;
    text-decoration: none;
  }

  .reportItem {
    background-color: #fff;

    // padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    color: black;
    list-style: none;

    h2 {
      background-color: var(--col2);
      font-size: 1.4em;
      color: white;
      padding: 10px;
      margin-bottom: 1rem;
      text-align: center;
      text-transform: uppercase;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
    }

    h4 {
      border-top: 1px solid #ddd;
      font-size: 1.1em;
      font-weight: bold;
      padding: 10px 0px;
      background-color: var(--col3);
      width: 100%;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 1rem;
    }

    i {
      margin-right: 8px;
      font-size: 1.2rem;
      color: rgb(133, 133, 133);
    }

    .section1 {
      width: 100%;
      display: flex;

      color: black;

      .section1Left {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;

        ul {
          align-self: center;
          li {
            margin-bottom: 0.3rem;
          }
        }
      }

      .section1Right {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .technicians {
          width: 100%;
          display: flex;
          justify-content: space-around;

          .technicianItem {
            width: 33%;
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
              margin-top: 0.3rem;
              width: 140px;
              height: 140px;
              object-fit: cover;
              border-radius: 50%;
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              -ms-border-radius: 50%;
              -o-border-radius: 50%;
            }
          }
        }
      }
    }

    .section2 {
      width: 100%;
      display: flex;
      flex-direction: column;

      table {
        width: 100%;
        border-collapse: collapse;
        // margin-top: 10px;
        margin-bottom: 10px;

        th {
          background-color: var(--col4);
          text-transform: uppercase;
          font-weight: 600;
          padding: 10px;
          color: white;
          border-bottom: 1px solid #ddd;
          margin-bottom: 10px;
        }

        td {
          // padding: 10px;
          border-bottom: 1px solid #ddd;
          height: 50px;

          align-items: center;
          // text-align: center;
          align-self: center;
          vertical-align: middle;
        }

        img {
          padding: 10px;
          width: 300px;
          height: 200px;
          object-fit: cover;
          border-radius: 8px;
          -webkit-border-radius: 8px;
          -moz-border-radius: 8px;
          -ms-border-radius: 8px;
          -o-border-radius: 8px;
        }
      }

      .section2Left {
        width: 100%;
      }

      .section2Right {
        width: 100%;

        p {
          color: black;
          padding: 10px;
          font-size: 1.1em;
          font-weight: bold;
          float: right;
          padding-left: 6rem;

          .risqueOui {
            color: red;
          }

          .risqueNon {
            color: green;
          }
        }
      }
    }
    .signatureImg {
      width: 40%;

      margin-bottom: -5rem;
      object-fit: cover;
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
    }
  }

  @media (max-width: 1080px) {
    .reportContainer {
      padding: 10px;
    }
    h1 {
      font-size: 1.3rem;
      margin-bottom: 10px;
    }

    .badgeGreen {
      font-size: 1.3rem;
    }

    .badgeRed {
      font-size: 1.3rem;
    }

    .reportItem {
      h2 {
        font-size: 1.1em;
      }

      h4 {
        font-size: 1em;
      }

      .section1 {
        display: flex;
        flex-direction: column;

        .section1Left {
          width: 100%;

          ul {
            li {
              font-size: 0.9em;
            }
          }
        }

        .section1Right {
          width: 100%;
          .technicians {
            .technicianItem {
              img {
                width: 80px;
                height: 80px;
                margin-bottom: 1rem;
              }
            }
          }
        }
      }

      .section2 {
        display: flex;
        flex-direction: column;

        .section2Left {
          width: 100%;
        }
        .section2Right {
          width: 100%;
        }

        table {
          th {
            font-size: 0.9em;
          }

          td {
            img {
              width: 200px;
              height: 150px;
            }
          }
        }

        .section2Right {
          p {
            font-size: 0.8em;
          }
        }
      }
    }
  }
}
