.reportContainer {
  padding: 20px;
  max-width: 1280px;
  background-color: white;
  min-height: 90vh;
  margin: 0 auto;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;

  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
    color: var(--col2);
    text-transform: uppercase;
    font-weight: 600;
  }

  .reportItem {
    background-color: #fff;
    border: 1px solid #ddd;
    // padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    color: black;
    list-style: none;
 
    h2 {
      background-color: var(--col2);
      font-size: 1.4em;
      color: white;
      padding: 10px;
      margin-bottom: 1rem;
      text-align: center;
      text-transform: uppercase;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
    }

    h4 {
      border-top: 1px solid #ddd;
      font-size: 1.1em;
      font-weight: bold;
      padding: 10px 0px;
      background-color: var(--col3);
      width: 100%;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 1rem;
    }
 

  i {
    margin-right: 8px;
    margin-left: 8px;
  }

  .section1 {
    width: 100%;
    display: flex;
    padding: 10px;
    color: black;

    .section1Left {
      width: 50%;
      display: flex;
      flex-direction: column;
    }

    .section1Right {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .technicians {
      
        width: 100%;
        display: flex;
        
        .technicianItem {

          width: 33%;
          display: flex;
          flex-direction: column;
          align-items: center;

         
         img {
            margin-top: 0.3rem;
            width: 100px;
            height: 100px;
            object-fit: cover;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
          }
        }
      }
    }
  }

  .section2 {
    width: 100%;
    display: flex;

    

    table {
      width: 100%;
      border-collapse: collapse;
      // margin-top: 10px;
      margin-bottom: 10px;

      th {
        background-color: var(--col4);
        text-transform: uppercase;
        font-weight: 600;
        padding: 10px;
        color : white ;
        border-bottom: 1px solid #ddd;
        margin-bottom : 10px;
      }

      td {
        // padding: 10px;
        border-bottom: 1px solid #ddd;
        height : 50px;
        

        align-items: center;
        // text-align: center;
        align-self: center;
        vertical-align: middle;

        img {
          padding : 10px;
          width: 300px;
          height: 200px;
          object-fit: cover;
      
        }
        
      }
    }

    .section2Left {
      width: 50%;
    
    
    }

    .section2Right {
      width: 50%;

      p {
       
        color: black;
        padding: 10px;
        font-size: 1.1em;
        font-weight: bold;
        float : right;

        .risqueOui {
          color: red;
        }
        
        .risqueNon {
          color: green;
        }
        

      }

 

    }
  }

}
}