.reportContainer {
  padding: 20px;
  max-width: 1280px;
  background-color: #f9f9f91f;
  min-height: 90vh;
  margin: 0 auto;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.reportItem {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  color: black;
}

.photosContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.photo {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}
