.modalOverlay {
  background-color: rgba(
    0,
    0,
    0,
    0.719
  ); /* Ajoutez une couleur de fond pour l'overlay */
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1000;

  .modalContent {
    background-color: rgb(245, 245, 245);
    border-radius: 8px;
    padding: 10px;
    width: 50%;
    margin: 0 auto;
    position: fixed;
    top: 10%;
    left: 25%;

    .closeButton {
      background-color: #dc3545;
      color: white;
      border: none;
      padding: 2.5px 15px;
      cursor: pointer;
      border-radius: 3px;
      margin-bottom: 0.8rem;
      float: right;
      font-size: 1.7rem;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
    }

    h2 {
      text-align: center;
      color: white;
      font-weight: 600;
      font-size: 1rem;
      text-transform: uppercase;
      margin-bottom: 0.3rem;
      background-color: var(--col2);
      padding: 8px 10px;
      border-radius: 8px;
    }

    .form {
      margin: 0 auto;

      padding: 10px;
      border-radius: 8px;
      width: 100%;
      max-width: 40rem;
      color: black;
    }

    .form div {
      margin-bottom: 6px;
    }

    .form label {
      display: block;
      margin-bottom: 3px;
      font-size: 0.9rem;
    }

    .form input {
      width: 90%;
      padding: 5px;
      border-radius: 4px;
      border: 1px solid #ddd;
      font-size: 0.9rem;
    }
    .submitButton {
      background-color: var(--col1);
      color: #fff;
      border: none;
      padding: 5px 80px;
      cursor: pointer;
      border-radius: 5px;
      margin: 0 auto;
      font-weight: 500;
      font-size: 1rem;
      margin-top: 1rem;
      display: block;
    }
  }
}

.clientsContainer {
  padding: 20px;
  max-width: 1400px;
  margin: 0 auto;
  min-height: 90vh;
  background-color: #dddddd17;
  border-radius: 8px;
  padding-top: 4rem;

  h1 {
    margin-top: 2rem;
  }

  .addButton {
    background-color: var(--col1);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 0.5rem;
  }

  button:hover {
    background-color: #0056b3;
  }

  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    thead {
      background-color: var(--col1);
      color: #fff;
      text-align: left;
    }

    th {
      font-weight: bold;
      padding: 12px;
      border-bottom: 1px solid #ddd;
      text-align: center;
    }
    td {
      padding: 5px;
      border-bottom: 1px solid #ddd;
      color: rgb(45, 45, 45);
      text-align: center;
      align-items: center;
      justify-content: center;
      vertical-align: middle;

      strong {
        font-weight: bold;
        color: rgb(0, 72, 173);
      }
    }

    tbody tr:hover {
      background-color: #f1f1f1;
    }

    img {
      max-width: 100%;
      max-height: 4.5rem;
      border-radius: 4px;
    }

    a {
      color: #007bff;
      text-decoration: none;
      font-weight: bold;
    }

    a:hover {
      text-decoration: underline;
    }

    .editButton {
      background-color: var(--col1);
      color: white;
      padding: 8px 0px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: 0.3s;
      width: 5rem;
      margin-bottom: 0.5rem;
    }

    .editButton:hover {
      background-color: #0372d3;
    }

    .deleteButton {
      background-color: #dc3545;
      color: #fff;
      padding: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: 0.3s;
      width: 5rem;
    }

    .deleteButton:hover {
      background-color: #c82333;
    }
  }

  @media (max-width: 1080px) {
    .clientsList {
      grid-template-columns: 1fr 1fr;
    }

    .modalContent {
      width: 70%;
      left: 15%;
    }
  }

  @media (max-width: 700px) {
    .clientsList {
      grid-template-columns: 1fr;
    }
    .modalContent {
      width: 90%;
      left: 5%;
    }
  }
}
