.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    max-width: 1280px;
  

    img {
        width: 50%;
        max-width: 30rem;
        margin-bottom: 15px;
      }

      h1 {
        font-size: 2rem;
        margin-bottom: 40px;
       font-family: "barlow-condensed", sans-serif;
       letter-spacing: 2px;
        color: white;
        font-weight: 700;
      }

    h2 {
        font-size: 2rem;
        margin-top: 3rem;
       margin-bottom : 2rem;
        text-align: center;
        color: white;
        text-transform: uppercase;
        font-weight: 700;
      }

      form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        max-width: 30rem;
        padding: 40px;
        border-radius: 5px;
        background-color: #e8e8e81e;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        transition: 0.3s;
       
        input {
          width: 90%;
          padding: 10px;
          margin-bottom: 10px;
          border: none;
          border-radius: 5px;
          font-size: 1rem;
          transition: 0.3s;
          
        }
        button {
          width: 93%;
          padding: 10px;
          margin-top: 10px;
          border: none;
          border-radius: 5px;
          background-color: var(--col1);
          color: white;
          font-size: 1rem;
          cursor: pointer;
          text-transform: uppercase;
          transition: 0.3s;
          &:hover {
            background-color:  #008bc7;
         
            
          }
        }
      }

}