.missionContainer {
  padding: 20px;
  max-width: 1280px;
  background-color: #f9f9f9;
  min-height: 90vh;
  margin: 0 auto;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  color: black;
  padding-top: 6rem;

  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
    color: var(--col2);
    text-transform: uppercase;
    font-weight: 600;
  }

  .missionItem {
    padding: 20px;
    background-color: #fffffffa;
    color: black;
    margin-bottom: 20px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    min-height: 60vh;

    h2 {
      font-size: 1.5rem;
      margin-bottom: 20px;
      text-align: center;
      background-color: var(--col2);
      text-transform: uppercase;
      font-weight: 600;
      color: white;
      padding: 10px;
      border-radius: 8px;
    }

    h3 {
      font-size: 1.2rem;
      margin-top: 1rem;
      margin-bottom: 2rem;
      text-align: center;
      text-transform: uppercase;
      font-weight: 600;
      background-color: var(--col3);
      padding: 10px;
    }
    .interventionDate {
      color: #0048fd;
      font-size: 1.1rem;
      font-weight: 600;
    }
    .upcomingBadge {
      color: #03c113;
      font-size: 2.2rem;
      text-transform: uppercase;
      font-weight: 700;
      float: right;
    }

    .passedBadge {
      color: #ff4d4f;

      font-size: 2.2rem;
      text-transform: uppercase;
      font-weight: 700;
      float: right;
    }
    i {
      margin-right: 8px;
      font-size: 1.2rem;
      color: rgb(133, 133, 133);
    }

    .section1 {
      display: flex;
      width: 100%;

      .section1Left {
        width: 50%;

        p,
        button {
          margin-left: 15%;
          margin-bottom: 0.5rem;
        }

        button {
          width: 40%;
          padding: 8px 8px;
          background-color: var(--col5);
          color: white;
          font-size: 1em;
          border: none;
          border-radius: 4px;
          cursor: pointer;

          &:hover {
            scale: 1.03;
          }
        }
      }
      .section1Right {
        width: 50%;
        text-align: center;

        .technicians {
          width: 100%;
          display: flex;
          justify-content: space-around;

          .technicianItem {
            width: 30%;
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
              margin-top: 1rem;
              width: 140px;
              height: 140px;
              object-fit: cover;
              border-radius: 50%;
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              -ms-border-radius: 50%;
              -o-border-radius: 50%;
            }
          }
        }
      }
    }
    .section2 {
      display: flex;
      justify-content: space-between;

      .section2Left {
        width: 50%;
        display: flex;
        flex-direction: column;

        ul {
          align-self: center;
        }
      }
      .section2Right {
        width: 50%;
        display: flex;
        flex-direction: column;

        ul {
          align-self: center;
        }
      }
    }

    .section3 {
      display: flex;

      .section3Left {
        width: 50%;
        text-align: center;
      }
      .section3Right {
        width: 50%;
        text-align: center;
      }
    }
  }

  .bottom {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    h2 {
      font-size: 1.5rem;
      margin-bottom: 20px;
      text-align: center;
      background-color: var(--col2);
      text-transform: uppercase;
      font-weight: 600;
      color: white;
      padding: 10px;
      border-radius: 8px;
    }

    h3 {
      font-size: 1.2rem;
      margin-top: 1rem;
      margin-bottom: 2rem;
      margin-left: 6rem;
      font-weight: 600;
      padding: 10px;
    }

    .securityRules {
      display: flex;
      margin: 0 auto;
      width: 60%;

      .icons {
        width: 20%;
        display: flex;
        flex-direction: column;
        gap: 10px;

        img {
          width: 4rem;
          height: 4rem;
        }
      }

      .text {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-self: center;

        p {
          font-size: 1rem;
          padding-bottom: 50px;
        }
      }
    }
    .numUrgence {
      width: 30rem;
      height: auto;
      display: flex;
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 900px) {
  .missionContainer {
    padding: 10px;
    padding-top: 6rem;
    h1 {
      font-size: 1.5rem;
    }

    .missionItem {
      padding: 10px;
      h2 {
        font-size: 1.2rem;
      }

      h3 {
        font-size: 1rem;
      }

      i {
        font-size: 1rem;
      }

      .section1 {
        flex-direction: column;

        .section1Left {
          width: 100%;

          p,
          button {
            margin-left: 0;
          }

          button {
            max-width: 25rem;
            width: 50%;
            margin-left: 0.5rem;
          }
        }
        .section1Right {
          width: 100%;

          .technicians {
            // flex-direction: column;

            .technicianItem {
              width: 100%;

              img {
                width: 80px;
                height: 80px;
              }
            }
          }
        }
      }
      .section2 {
        flex-direction: column;

        .section2Left {
          width: 100%;

          li {
          }
        }
        .section2Right {
          width: 100%;
        }
      }

      .section3 {
        flex-direction: column;

        .section3Left {
          width: 100%;
        }
        .section3Right {
          width: 100%;
        }
      }
    }

    .bottom {
      h2 {
        font-size: 1.2rem;
      }

      h3 {
        font-size: 1rem;
        margin-left: 0;
        color: var(--col4);
      }

      .securityRules {
        // flex-direction: column;
        width: 100%;

        .icons {
          width: 20%;
          display: flex;
          justify-content: center;
          gap: 18px;

          img {
            width: 3rem;
            height: 3rem;
          }
        }

        .text {
          width: 80%;
          display: flex;
          flex-direction: column;
          align-content: center;
          justify-content: center;
          align-self: center;

          p {
            font-size: 0.9rem;
            padding-bottom: 15px;
          }
        }
      }
      .numUrgence {
        width: 20rem;
        height: auto;
        display: flex;
        margin: 0 auto;
      }
    }
  }
}
